.icon-question {
	width: 72px;
	height: 72px;
	border-radius: 100px;
	margin: auto;
	display: inline-block;
	top: -36px;
    position: absolute;
    left: -22px;
}

.icon-question img {
       
border:7px solid #f5f5f5;
border-radius:100px;
background:#f5f5f5;	
}

.question-box {
	margin-top: 25px;
}

.question-text {
	padding-left: 45px;
}

.question-number {
	position: absolute;
	top: 20px;
    left: 21px;
}

.question-number p {
	font-size: 25px;
}

.question-number-box {
	width: 30px;
}

.panel-text {
	padding-left: 36px;
	padding-right: 50px;
}

.panel-tool-options-custom {
	display: inline-block;
    position: absolute;
    top: 5px;
    right: 30px;
}

.footer-main-my{
	margin-top: 50px;
}

.fixed {
	position: fixed;
  	right: 0px;
  	top: 30%;
}

#wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fulltable {
	padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}